/*smart phones*/

@media(max-width:500px) {
    * {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        padding: 0;
        font-size: 18px;
    }
    body {
        display: flex;
        flex-direction: row;
    }
    .sidebar {
        background-color: #00FFFF;
    }
    .sidebar .menu {}
    .sidebar .menu .profile {}
    .sidebar .menu .profile img {}
    .sidebar .menu .profile h2 {}
    .sidebar .menu .profile p {}
    .sidebar .menu ul {}
    .sidebar .menu ul li {}
    .sidebar .menu ul li a {}
    .sidebar .menu .social-links {}
    .sidebar .menu i {}
    /* 
designing the contents to be displayed in body section */
    .home-section {
        background-image: url('../image/background.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        height: 50px;
        /* align-items: center; */
        /* width: 100px; */
        /* margin: 0% 0%; */
        /* line-height: 40px; */
        /* padding-top: 10%;
        height: 100vh; */
    }
    .home-section .intro-header {
        /* width: max-content; */
        color: #ffffff;
        background-color: #9796e4;
        padding-left: 0;
        margin-top: 50%;
    }
    .home-section .intro-parag {
        color: #00FFFF;
        width: 5px;
        padding-left: 0%;
        height: 200px;
        background-color: blue;
    }
    /* design for About Section */
    .body-section {
        height: 50vh;
        margin-left: 0px;
        padding: 10%;
    }
    .body-section #about {
        background-color: #ffffff;
    }
    .body-section #about h2 {
        font-weight: bold;
        float: center;
    }
    .body-section #about p {
        width: 300px;
        margin-top: 20px;
    }
    /* ..............skills section........*/
    #skills-section {
        height: 90vh;
        margin-left: 300px;
        padding: 10%;
    }
    #skills-section .skills {
        width: 100%;
        margin-top: 0px;
    }
    #skills-section .skills .skills-list {
        display: flex;
        margin-bottom: 20px;
        color: black;
        justify-content: space-between;
        margin-top: 0px;
    }
    /*........Experience section........*/
    #exp-section {
        margin-left: 300px;
        background-image: url('../image/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
        padding: 10%;
        color: #ffffff;
        line-height: 40px;
    }
    button {
        background-color: #9796e4;
        width: 100%;
        height: 50px;
        margin-top: 20px;
        color: #ffffff;
        font-size: larger;
    }
    /*.......section for projects..........*/
    #proj-section {
        margin-left: 300px;
        background-image: url('../image/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
        padding: 10%;
        color: #ffffff;
    }
    #proj-section .projects {
        margin-top: 10%;
        line-height: 40px;
    }
    #proj-section .projects img {
        width: 500px;
        height: 300px;
        margin-top: 90px;
    }
    #proj-section .projects a {
        text-decoration: none;
        color: blue;
        margin-top: 100px;
    }
    /* style for sign-in page*/
    .sign-form {
        display: flex;
        flex-direction: column;
        background-color: #1C1919;
        width: 50%;
        margin: 5%;
        border-radius: 4px;
        margin-left: 40% !important;
        color: #ffffff;
    }
    .sign-form form {
        display: flex;
        flex-direction: column;
        padding: 10%;
    }
    .sign-form form h2 {
        flex-direction: column;
        padding: 5% 30%;
    }
    input[type=text],
    input[type=password],
    input[type=email] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 50px;
        box-sizing: border-box;
    }
    input[type=submit] {
        width: 100%;
        padding: 12px 20px;
        border-radius: 50px;
        box-sizing: border-box;
        background-color: black;
        color: #ffffff;
        font-size: larger;
        margin-top: 10px;
    }
    /* .....end of sign in style... */
    /* .......style for contact page*/
    .social-section {
        margin: 0% 30%;
        display: flex;
        flex-direction: row;
        align-content: center;
        width: 70%;
        height: 90vh;
    }
    .social-section .left {
        margin-left: 0;
    }
    .social-section .left h2 {
        margin-bottom: 25px;
        font-size: 30px;
    }
    .social-section .left .item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 80px;
    }
    .social-section .left .item i {
        margin-right: 10px;
    }
    .social-section .right {
        width: max-content;
        margin-left: 0%;
        margin-left: 300px;
    }
    .social-section .right .contact-form {
        display: flex;
        flex-direction: row;
        padding: 15% 10%;
    }
    .social-section .right .contact-form h2 {
        margin-bottom: 15px;
    }
    .social-section .right .contact-form form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .address {
        margin-left: 30%;
    }
}